<table class="table table-striped table-hover">
  <thead>
    <th>
      name
    </th>
    <th>
      address
    </th>
  </thead>
  <tbody>
    <% @user_list.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, [:admin, user] %>
      </td>
      <td>
        <%= user.address %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @user_list %>
